/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* customized */

/* general */
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-weight: 400;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 50px;
    padding: 0 25px;
}
.fab{
	background-color: aliceblue;
	color: rgba(8, 8, 8, 0.664);
	padding: 8px;
	border-radius: 50px;
	margin: 0 auto;
}
header nav{
	text-align: center;
	padding: 10px 0;
}
.bg_img{
	background-size:cover; 
	height:600px;
}
.bar{
display: flex;
position: fixed;
background-color: #fff;
justify-content: space-between;
width: 90%;
align-items: center;
}
.sub-bar{
	display: flex;	
	align-items: center;
	font-size: 0;
}
.bar a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding-right: 15px;
	font-weight: 300;
	color: rgba(8, 8, 8, 0.664);;
}
.bar .active{
	color: chocolate;
	border-top: 2px solid chocolate;
}
.logo{
	width: 70px;
}
.hero-text{
	width: 450px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
}
.bar h4{
	color: chocolate;
	font-weight: 900;
	font-size: 20px;
}
h1{
	font-size: 38px;
	padding-top: 210px;
	padding-bottom: 35px;
	text-decoration: underline solid #fff;
}
.hero-text h6{
	padding: 20px ;
}
.btn{
	border: chocolate;
	color: #fff;
	background-color: chocolate;
	padding: 9px;
}