/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* customized */

/* general */
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-weight: 400;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
.container{
    max-width: 1300px;
    margin: 0 50px;
    padding: 0 25px;
}
.fab{
	background-color: aliceblue;
	color: rgba(8, 8, 8, 0.664);
	padding: 8px;
	border-radius: 50px;
	margin: 0 auto;
}
header nav{
	text-align: center;
	padding: 10px 0;
}
nav a:hover{
	color: orange;
}
.bg_img{
	width: 1260px;
	background-size:cover; 
	height:600px;
}
.bar{
display: flex;
position: absolute;
background-color: #fff;
justify-content: space-between;
width: 90%;
align-items: center;
}
.sub-bar{
	display: flex;	
	align-items: center;
	font-size: 0;
}
.bar a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding-right: 15px;
	font-weight: 300;
	color: rgba(8, 8, 8, 0.664);;
}
.bar .active{
	color: chocolate;
	border-top: 2px solid chocolate;
}
.logo{
	width: 70px;
}
.hero-text{
	width: 450px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
}
.bar h4{
	color: chocolate;
	font-weight: 900;
	font-size: 20px;
}
h1{
	font-size: 38px;
	padding-top: 210px;
	padding-bottom: 35px;
	text-decoration: underline solid #fff;
}
.hero-text h6{
	font-size: 20px;
	padding: 20px ;
}
.btn{
	border: chocolate;
	color: #fff;
	background-color: chocolate;
	padding: 9px;
}
.head{
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 15px;
	padding-bottom: 20px;
	width: 500px;
	color: rgba(8, 8, 8, 0.664);
	text-align: center;
	margin: 0 auto;
}
h2{
	font-size: 30px;
	font-weight: 400px;
	padding: 30px 0;
	text-decoration: underline;
}
h5{
	font-size: 16px;
	font-weight: 200px;
}
.point{
	display: flex;
	font-weight: 900;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.act{
	background-color: black;
	border-radius: 30px;
	width: 5px;
	height: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.service{
	display: flex;
}
.item{
	display: flex;
	padding: 10px;
	margin: auto 0;
	text-align: center;
	height: 250px;
}	
.green{
	background-color: cadetblue;
	width: 250px;
}
.orange{
	background-color: orange;
	width: 250px;
}
.blue{
	background-color: rgb(0, 132, 255);
	width: 250px;
}
.lgreen{
	background-color: rgb(24, 221, 6);
	width: 250px;
}
.team{
	display: flex;
}
.img1{
	display: flex;
	width: 250px;
	flex-wrap: wrap;
	border-radius: 50%;
	padding: 5px;
}
.portfolio{
	display: flex;
	flex-wrap: wrap;
}
.img{
	width: 270px;
	flex-wrap: wrap;
	padding: 10px;
}
.col{
	padding: 10px;
	width: 60%;
}
.col1{
	width: 30%;
}
.block{
	
	padding: 5px;
	padding-left: 230px;
}
.col1 h4{
	background-color: orange;
	width: 200px;
	height: 30px;
	color: white;
	vertical-align: center;
}
.column{
	display: flex;
	justify-content: center;
	width: 100%;
}
.map{
	width: 1260px;
	padding: 20px 0;
}
.con{
	width: 60%;
}
.form{
	width: 30%;
	padding-left: 230px;
}
.contact{
	display: flex;
}
form tr{
	padding: 5px 0;
}